@media (prefers-color-scheme: light) {
    body {
        overflow-x: hidden;
        height: 100%;
        margin: 0;
        padding: 0;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        overflow-x: hidden;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #383440;
    }
}

@media (prefers-color-scheme: light)  {
    h1, h2, h3, h4, h5 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .plaintext {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14;
    }
    
    .boldtext {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14;
        font-weight: bold;
    }
}
@media (prefers-color-scheme: dark) {
    h1, h2, h3, h4, h5 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #e5e5e5;
    }
    
    .plaintext {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14;
        color: #e5e5e5;
    }
    
    .boldtext {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14;
        font-weight: bold;
        color: #e5e5e5;
    }
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorContainer {
    position: fixed;
    bottom: 2%;
    left: 2%;
    margin: 20px;
    padding: 20px;

    border-radius: 40px;
    border-color: #ff3535;
    background: #ff3535;
    border-style: none;
    
    cursor: pointer;
}

.mainResponseContainer {
    /* display: block; */
    max-height: 80%;
    /* width: 100%; */
    position: fixed;
    bottom: 10%;
    left: 50%;
    
    align-self: center;
    /* text-align: center; */

    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    overflow: auto;
}

@media (prefers-color-scheme: light) {
    .responseContainer {
        align-self: center;
        width: 50vw;
        overflow-wrap: normal;
    
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 40px;
        margin: 10px;
    
        animation: scaleUpAndAppear 0.5s;
    }
    
    .responseContainerUser {
        background-color: #eeeeee;
    }
}
@media (prefers-color-scheme: dark) {
    .responseContainer {
        align-self: center;
        width: 50vw;
        overflow-wrap: normal;
    
        background-color: #544d56;
        padding: 20px;
        border-radius: 40px;
        margin: 10px;
    
        animation: scaleUpAndAppear 0.5s;
    }
    
    .responseContainerUser {
        background-color: #453e46;
    }
}

.promptBoxContainer {
    display: flex;
    position: fixed;
    bottom: 5%;
    width: 100%;
    height: 30px;
    box-sizing: content-box;
}
.roundRect {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 30px;
}

@media (prefers-color-scheme: light) {
    .promptInput {
        /* position: absolute; */
        display: flex;
        padding: 20px;
        border-radius: 40px;
        box-sizing: border-box;
    
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #eeeeee;
        border-color: #eeeeee;
        border-style: solid;
    
        resize: none;
    
        width: 100%;
        height: 60px;
        align-self: center;
    }
    
    .promptInput:focus {
        outline: none;
    }
    
    .furrygptResponseFadeIn {
        /* align-self: center; */
        /* text-align: center; */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 100%;
        animation: fadein 0.2s forwards;
        white-space: pre-wrap;
        
        word-wrap: break-word;
    
        z-index: 0;
    }
    
    .furrygptResponseFadeOut {
        /* align-self: center; */
        /* text-align: center; */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 100%;
        animation: fadeout 0.75s forwards;
        white-space: pre-wrap;
        
        word-wrap: break-word;
    
        z-index: 0;
    }
    
    .furrygptResponse {
        width: 50%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 100%;
        white-space: pre-wrap;
        word-wrap: break-word;
    
        z-index: 0;
    }
    
    .pulsatingCircle {
        width: 50px;
        height: 50px;
        background-color: #f7f7f7;
        border-radius: 100%;
        animation: pulse 4s ease-in-out infinite;
    
        /* margin: 10px; */
        box-sizing: border-box;
    }
}
@media (prefers-color-scheme: dark) {
    .promptInput {
        /* position: absolute; */
        display: flex;
        padding: 20px;
        border-radius: 40px;
        box-sizing: border-box;
    
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #57515a;
        border-color: #57515a;
        border-style: solid;
    
        resize: none;
    
        width: 100%;
        height: 60px;
        align-self: center;

        color: #eee;
    }
    
    .promptInput:focus {
        outline: none;
    }
    
    .furrygptResponseFadeIn {
        /* align-self: center; */
        /* text-align: center; */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 100%;
        animation: fadein 0.2s forwards;
        white-space: pre-wrap;
        
        word-wrap: break-word;
    
        z-index: 0;
        color: #eee;
    }
    
    .furrygptResponseFadeOut {
        /* align-self: center; */
        /* text-align: center; */
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 100%;
        animation: fadeout 0.75s forwards;
        white-space: pre-wrap;
        
        word-wrap: break-word;
    
        z-index: 0;
        color: #eee;
    }
    
    .furrygptResponse {
        width: 50%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 100%;
        white-space: pre-wrap;
        word-wrap: break-word;
    
        z-index: 0;
        color: #eee;
    }
    
    .pulsatingCircle {
        width: 50px;
        height: 50px;
        background-color: #57515a;
        border-radius: 100%;
        animation: pulse 4s ease-in-out infinite;
    
        /* margin: 10px; */
        box-sizing: border-box;
    }
}

.scaleDownAndDisappear {
    animation: scaleDownAndDisappear 0.1s;
    animation-fill-mode: forwards;
}
.scaleUpAndAppear {
    animation: scaleUpAndAppear 0.1s;
    animation-fill-mode: forwards;
}

.inline {
    display: inline-block;
}

.settingsOverlayBackground {
    position: absolute;
    width: 100vw;
    height: 90vh;
    display: flex;
    /* position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    background-color: rgba(0, 0, 0, 0.5);

    /* align-content: center; */
    align-items: center;
    justify-content: center;

    padding: 50px;
    z-index: 99;
}

.settingsOverlayWindow {
    /* position: absolute; */
    /* right: 20%; */
    /* left: 20%; */
    /* height: 100px; */

    width: fit-content;
    height: fit-content + 100px;

    background-color: #ffffff;

    /* z-index: 2; */

    /* align-self: center; */
    /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
}

input[type=text] {
    /* z-index: 3; */
    display: inline-block;
    height: 40px;
    width: 200px;

    padding: 5px;
    background-color: #eeeeee;
    border-style: solid;
    border-color: #eeeeee;
    border-radius: 20px;

    margin: 10px;
}
input[type=text]:focus {
    outline: none;
}

.label {
    /* z-index: 3; */
    display: inline-block;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
}

button {
    /* z-index: 3; */
    align-self: center;
    
    margin: 10px;

    background-color: #eeeeee;
    border-style: none;
    border-radius: 20px;
    height: fit-content;
    width: fit-content;

    padding: 10px;

    cursor: pointer;

    transition: 0.05s;
}
button:active {
    transform: scale(0.8);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scaleDownAndDisappear {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaleUpAndAppear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.center {

    display: flex;
    justify-content: center;
    align-items: center;
}